<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941383176247-39jlvvhaaiie3q0eovjacju9ihek7485.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941383176247-39jlvvhaaiie3q0eovjacju9ihek7485</string>
	<key>API_KEY</key>
	<string>AIzaSyC4PDAWtITsK-gVSYFm5E5Gmxj_qbEiOtg</string>
	<key>GCM_SENDER_ID</key>
	<string>941383176247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kawalcovid19.mobile</string>
	<key>PROJECT_ID</key>
	<string>kawalcovid19-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kawalcovid19-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941383176247:ios:5a3e37e5fa6fd73818afb2</string>
	<key>DATABASE_URL</key>
	<string>https://kawalcovid19-dev.firebaseio.com</string>
</dict>
</plist>